
// fonts settings

@font-face {
    font-family: titletxt;
    src: url(../Fonts/SlemanDemo.ttf);
}

@font-face {
    font-family: secondarytxt;
    src: url(../Fonts/GlitchInside.otf);
}

@font-face {
    font-family: normaltxt;
    src: url(../Fonts/MaldiniNormal.otf);
}


// color settings
$darkest: #212F3D;
$light-blue: #02DDE8;
$square-bg: rgba($color: #000000, $alpha: .2);
$purple: #963ADA;


// border settings
$slim-blue-border: 1px solid rgba($color: #02DDE8, $alpha: .2);
$bold-blue-border: 2px solid rgba($color: #02DDE8, $alpha: 1);

$border-top: solid none none none;
$border-right: none solid none none;
$border-bottom: none none solid none;
$border-left: none none none solid;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: normaltxt, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    text-decoration: none;

    body {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 5px;
        padding: 0;
        height: 100vh;
        overflow: hidden;
        
        .official-bg {
            position: absolute;
            z-index: -1;
            height: 99.9vh;
        }
        ::-webkit-scrollbar {
            width: 1px;
        }
        ::-webkit-scrollbar-track {
            width: 1px;
            background-color: transparent;
        }
        ::-webkit-scrollbar-thumb {
            width: 5px;
            background-color: $darkest;
        }

        .primary-main {
            grid-column: 2/13;
            grid-row: 2/13;
            margin: 5px;
        }

        // 1250px width main respnsivity
        @media only screen and (max-width:1250px) {
            .primary-main {
                grid-column: 1/13;
            }
        }
    }
}