@import 'abstracts/style';

body {
    .primary-main {
        .my-pics {
            display: none;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(12, 1fr);
            width: 100%;
            height: 100%;
            animation: blur 1s ease 1;
            @keyframes blur {
                0% {filter: blur(500px);}
                100% {filter: blur(0px);}
            }

            .pic {
                transition: all 1s ease;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .fullscreenimg {
                position: absolute;
                inset: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                background-color: rgba($color: #000000, $alpha: .8);

                img {
                    width: auto;
                    max-width: 80%;
                    height: auto;
                    max-height: 80%;
                    transition: all 1s ease;
                }
            }
            .pic1 {
                grid-column: 1/3;
                grid-row: 9/13;
            }
            .pic2 {
                grid-column: 8/13;
                grid-row: 1/13;
            }
            .pic3 {
                grid-column: 3/6;
                grid-row: 9/13;
            }
            .pic4 {
                grid-column: 6/8;
                grid-row: 9/13;
            }
            .pic5 {
                grid-column: 1/8;
                grid-row: 1/9;
            }
        }
    }
}