@font-face {
  font-family: titletxt;
  src: url(../Fonts/SlemanDemo.ttf);
}

@font-face {
  font-family: secondarytxt;
  src: url(../Fonts/GlitchInside.otf);
}

@font-face {
  font-family: normaltxt;
  src: url(../Fonts/MaldiniNormal.otf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: normaltxt, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  list-style: none;
  text-decoration: none;
}

* body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  gap: 5px;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

* body .official-bg {
  position: absolute;
  z-index: -1;
  height: 99.9vh;
}

* body ::-webkit-scrollbar {
  width: 1px;
}

* body ::-webkit-scrollbar-track {
  width: 1px;
  background-color: transparent;
}

* body ::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #212F3D;
}

* body .primary-main {
  -ms-grid-column: 2;
  -ms-grid-column-span: 11;
  grid-column: 2/13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 11;
  grid-row: 2/13;
  margin: 5px;
}

@media only screen and (max-width: 1250px) {
  * body .primary-main {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}

body .primary-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .primary-main .find-me {
  display: none;
  width: 80%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-animation: findme 1s ease 1;
          animation: findme 1s ease 1;
}

@-webkit-keyframes findme {
  0% {
    -webkit-filter: blur(500px);
            filter: blur(500px);
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

@keyframes findme {
  0% {
    -webkit-filter: blur(500px);
            filter: blur(500px);
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

body .primary-main .find-me .links {
  width: 20%;
  height: 100%;
}

body .primary-main .find-me .links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 14.2%;
  background-color: rgba(255, 255, 255, 0.2);
}

body .primary-main .find-me .links a:hover img {
  -webkit-animation: socialIcon 1s ease 1;
          animation: socialIcon 1s ease 1;
}

@-webkit-keyframes socialIcon {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  10% {
    -webkit-transform: translateY(-10px) rotateZ(-50deg);
            transform: translateY(-10px) rotateZ(-50deg);
  }
  20% {
    -webkit-transform: translateY(-10px) rotateZ(50deg);
            transform: translateY(-10px) rotateZ(50deg);
  }
  30% {
    -webkit-transform: translateY(-10px) rotateZ(-50deg);
            transform: translateY(-10px) rotateZ(-50deg);
  }
  40% {
    -webkit-transform: translateY(-10px) rotateZ(50deg);
            transform: translateY(-10px) rotateZ(50deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotateZ(0deg);
            transform: translateY(0px) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotateZ(0deg);
            transform: translateY(0px) rotateZ(0deg);
  }
}

@keyframes socialIcon {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  10% {
    -webkit-transform: translateY(-10px) rotateZ(-50deg);
            transform: translateY(-10px) rotateZ(-50deg);
  }
  20% {
    -webkit-transform: translateY(-10px) rotateZ(50deg);
            transform: translateY(-10px) rotateZ(50deg);
  }
  30% {
    -webkit-transform: translateY(-10px) rotateZ(-50deg);
            transform: translateY(-10px) rotateZ(-50deg);
  }
  40% {
    -webkit-transform: translateY(-10px) rotateZ(50deg);
            transform: translateY(-10px) rotateZ(50deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotateZ(0deg);
            transform: translateY(0px) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotateZ(0deg);
            transform: translateY(0px) rotateZ(0deg);
  }
}

body .primary-main .find-me .ad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

body .primary-main .find-me .ad p {
  text-align: center;
  font-size: 50px;
  color: #02DDE8;
}

@media only screen and (max-width: 750px) {
  body .primary-main .find-me {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  body .primary-main .find-me .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  body .primary-main .find-me .links a {
    width: 14.2%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
  }
  body .primary-main .find-me .ad {
    width: 100%;
  }
  body .primary-main .find-me .ad p {
    font-size: 30px;
  }
}

@media only screen and (max-width: 500px) {
  body .primary-main .find-me .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background-color: rgba(255, 255, 255, 0.2);
  }
  body .primary-main .find-me .links a {
    width: 33.33%;
    height: 33.33%;
    background-color: rgba(255, 255, 255, 0);
  }
  body .primary-main .find-me .ad {
    height: 50%;
  }
  body .primary-main .find-me .ad p {
    font-size: 30px;
  }
}
/*# sourceMappingURL=findme.css.map */