@font-face {
  font-family: titletxt;
  src: url(../Fonts/SlemanDemo.ttf);
}

@font-face {
  font-family: secondarytxt;
  src: url(../Fonts/GlitchInside.otf);
}

@font-face {
  font-family: normaltxt;
  src: url(../Fonts/MaldiniNormal.otf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: normaltxt, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  list-style: none;
  text-decoration: none;
}

* body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  gap: 5px;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

* body .official-bg {
  position: absolute;
  z-index: -1;
  height: 99.9vh;
}

* body ::-webkit-scrollbar {
  width: 1px;
}

* body ::-webkit-scrollbar-track {
  width: 1px;
  background-color: transparent;
}

* body ::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #212F3D;
}

* body .primary-main {
  -ms-grid-column: 2;
  -ms-grid-column-span: 11;
  grid-column: 2/13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 11;
  grid-row: 2/13;
  margin: 5px;
}

@media only screen and (max-width: 1250px) {
  * body .primary-main {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}

body .primary-main .my-pics {
  display: none;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  width: 100%;
  height: 100%;
  -webkit-animation: blur 1s ease 1;
          animation: blur 1s ease 1;
}

@-webkit-keyframes blur {
  0% {
    -webkit-filter: blur(500px);
            filter: blur(500px);
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

@keyframes blur {
  0% {
    -webkit-filter: blur(500px);
            filter: blur(500px);
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

body .primary-main .my-pics .pic {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

body .primary-main .my-pics .pic img {
  width: 100%;
  height: 100%;
}

body .primary-main .my-pics .fullscreenimg {
  position: absolute;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

body .primary-main .my-pics .fullscreenimg img {
  width: auto;
  max-width: 80%;
  height: auto;
  max-height: 80%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

body .primary-main .my-pics .pic1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 9;
  -ms-grid-row-span: 4;
  grid-row: 9/13;
}

body .primary-main .my-pics .pic2 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 12;
  grid-row: 1/13;
}

body .primary-main .my-pics .pic3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
  -ms-grid-row: 9;
  -ms-grid-row-span: 4;
  grid-row: 9/13;
}

body .primary-main .my-pics .pic4 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6/8;
  -ms-grid-row: 9;
  -ms-grid-row-span: 4;
  grid-row: 9/13;
}

body .primary-main .my-pics .pic5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 8;
  grid-row: 1/9;
}
/*# sourceMappingURL=mypics.css.map */